.nav-item {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.nav-link {
    color: #007bff;
    margin-left: auto;
    margin-right: auto;
}


.girlLookAtThatBody {
    overflow-y: inherit !important;
}

