<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Choose File
</button>

<form method="post" id="picker_form">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Testing file</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">


                    <div class="dropdown m-auto">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Select file
                        </button>
                        <div class="dropdown-menu" id="filelist" aria-labelledby="dropdownMenuButton">
                            {% for file in files %}
                                <a class="dropdown-item" href="#">{{ file.document }}</a>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="form-group my-3">
                        <input type="text" class="form-control" id="selectedfile" placeholder="no file selected"
                               name="selected_file" value="" readonly="readonly">
                    </div>
                    {% csrf_token %}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Start</button>
                </div>
            </div>
        </div>
    </div>

</form>



