<div id="container" style="width: 75%;">
    <canvas id="line-chart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>

    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    const labels = [1, 2, 3];
    const data = {
        labels: labels,
        datasets: [
            {
                data: [1, 2, 3],
                backgroundColor: [
                    '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                ],
                label: 'Benford Plot'
            },
            {
                label: 'Dataset 2',
                data: [1, 2, 3],
                backgroundColor: [
                    '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
                ],

            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            interaction: {
                mode: 'index',
                intersect: false,
            },
            stacked: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Chart.js Line Chart - Multi Axis'
                }
            },
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                },
                y1: {
                    type: 'linear',
                    display: true,
                    position: 'right',

                    // grid line settings
                    grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                    },
                },
            }
        },
    };


    window.onload = function () {
        var ctx = document.getElementById('line-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };

</script>
